<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>

<body>
    <form action="/nowhere">
    <h1>회원가입</h1>
        <p><label for="1"><b>아이디 </b></label><input type="text" name="id" required minlength="8" placeholder="아이디"
                id="1"></p>
        <p><label for="2"><b>비밀번호 </b></label><input type="password" name="password" required minlength="8"
                placeholder="비밀번호" id="2"></p>
        <p><label for="2.5"><b>비밀번호 확인</b></label><input type="password" name="password" required minlength="8"
                placeholder="동일한 비밀번호를 입력하세요" id="2.5"></p>
        <p><label for="3"><b>이름 </b></label><input type="text" name="name" required placeholder="이름" id="3"></p>
        <p><label for="4"><b>나이 </b></label><input type="number" name="age" required placeholder="나이" id="4"></p>
        <p><label for="5"><b>생일 </b></label><input type="date" name="birthday" required placeholder="생일" id="5"></p>
        <p><label for="6"><b>전화번호 </b></label><input type="number" name="number" required placeholder="전화번호" id="6"></p>
        <p><label for="7"><b>주소 </b></label><input type="text" name="address" required placeholder="주소" id="7"></p>
        <p><label for="8">교사입니다.</label><input type="checkbox" id="8" name="is_teacher"></p>
        <p><button>회원가입</button></p>

    </form>
</body>

</html>